.sectionHeader {
    color: white; 
    /* background: rgba(52, 58, 64, 0.788)!important; */
    background: #6e6e6e;
    z-index: 1; 
    text-align: center; 
    width: 20%;
    padding: 5px;
    font-size: 25px;
    border-radius: 25px;
}