.jumbotron{
    position: relative;
    z-index:-101;
}

.video-background { 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width:100%;
    height: 100%;
    -o-filter: blur(3px);
    filter: blur(3px);
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    position: absolute;
}

.overlay {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}